html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        
        background: #E3F2FD;

        .color {
            position: absolute;
            top: 0;

            width: 100%;
            height: 143px;

            background: #42A5F5;
            border-bottom: 1px solid #2196F3;
        }

        .container {
            position: absolute;
            top: 0;

            width: inherit;
            height: inherit;
        }
    }
}

.drawer {
    width: calc(100% - 152px);
    height: calc(100% - 38px);

    min-height: 600px;
    padding: 19px 76px;

    @media screen and (max-width: 1200px) {
        width: 100%;
        height: 100%;
        
        padding: 0;
    }

    .paper {
        display: flex;

        width: 100%;
        height: 100%;
    }
}

.left-pane {
    display: flex;
    flex-direction: column;
    flex: 0 1 390px;
    min-width: 260px;

    border-right: 1px solid #e0e0e0;
}

.right-pane {
    flex: 1 0 390px;
    min-width: 390px;
}

.profile {
    display: flex;
    flex: 0 0 auto;

    width: auto;
    height: 48px;

    padding: 10px;
    background: #eee;

    .avatar {
        flex: 1 0 auto;
        text-align: left;
    }

    .menu {
        flex: 0 0 auto;
    }
}

.search {
    display: flex;
    flex: 0 0 auto;

    background: #FAFAFA;
    border-bottom: 1px solid #e0e0e0;

    input {
        flex: 1 1 auto;
        min-width: 160px;
        
        margin: 10px;
        padding: 10px;
        border: 1px solid #efefef;

        font-size: 13px;
        font-weight: 400;
        text-align: left;
        user-select: text;
        line-height: 20px;
        outline: none;

        transition: border-color .2s, background-color .2s;

        &:focus, .has-focus {
            border-color: #FAFAFA;
            background-color: #FAFAFA;
            font-size: 15px;

            &::-webkit-input-placeholder {
                color: #FAFAFA;
            }
        }
    }
}

.chats {
    height: 100%;
    overflow-y: scroll;

    .chat {
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 72px;

        cursor: pointer;

        &:hover {
            background: #efefef;
        }

        &.is-selected {
            background: #e6e6e6;
        }

        .chat-avatar {
            display: flex;
            flex: 0 0 auto;
            flex-direction: row;
            align-items: center;

            padding: 0 15px 0 13px;
        }

        .chat-body {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;

            margin-top: -1px;

            border-top: 1px solid #f2f2f2;
            padding-right: 15px;

            .chat-main {
                display: flex;
                align-items: flex-start;

                line-height: normal;
                text-align: left;

                .chat-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 21px;
                    color: #000;
                    flex-grow: 1;
                    display: flex;
                }

                .chat-meta {
                    line-height: 14px;
                    margin-top: 4px;
                    flex: none;
                    color: rgba(0,0,0,.4);
                    margin-left: 6px;
                    font-size: 12px;
                }
            }

            .chat-secondary {
                display: flex;
                align-items: flex-start;

                margin-top: 3px;
                min-height: 20px;

                font-size: 13px;
                line-height: 19px;

                .chat-status {
                    font-weight: 400;
                    color: rgba(0,0,0,.6);
                    white-space: nowrap;
                    flex: 1;
                    text-align: left;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}

.intro {
    text-align: center;
    padding: 200px;

    font-size: 24px;
    font-weight: 400;
    color: #efefef;
}

.conversation {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex: 0 0 auto;

    width: auto;
    height: 48px;

    padding: 10px;
    background: #eee;

    .header-avatar {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;

        padding: 0 15px 0 13px;
    }

    .header-body {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        padding-right: 15px;

        .header-main {
            display: flex;
            align-items: flex-start;

            line-height: normal;
            text-align: left;

            .header-title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #000;
                flex-grow: 1;
                display: flex;
            }
        }

        .header-secondary {
            display: flex;
            align-items: flex-start;

            margin-top: 3px;
            min-height: 20px;

            font-size: 13px;
            line-height: 19px;

            .header-status {
                font-weight: 400;
                color: rgba(0,0,0,.6);
                white-space: nowrap;
                flex: 1;
                text-align: left;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.messages {
    flex: 1 0 0px;

    overflow: auto;
    background: #fff;
    padding: 0 80px;
}

.message {
    display: block;
    width: 65%;

    padding: 10px;
    margin: 2px;

    border-radius: 4px;
    border: 1px solid #eeeeee;

    font-size: 14px;
    line-height: 20px;

    &.type-in {
        float: left;
        background: #f3f3f3 !important;
    }

    &.type-out {
        float: right;
        background: #BBDEFB !important;
    }
}